name: choppedlink-api deployment

on:
    push:
        branches:
            - main

jobs:
    build-and-deploy:
        environment: choppedlink-api-prod
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.3'
                  coverage: none
                  tools: composer
                  extensions: openssl, ctype, iconv

            - name: Get Composer cache directory
              id: composer-cache
              run: |
                  echo "dir=$(composer config cache-dir)" >> $GITHUB_OUTPUT

            - name: Cache Composer dependencies
              uses: actions/cache@v4
              with:
                  path: ${{ steps.composer-cache.outputs.dir }}
                  key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-composer-

            - name: Install PHP dependencies
              run: composer install --no-interaction --prefer-dist --no-progress

            - name: Copy env.
              run: cp .env.dev .env

            - name: Run test suite
              env:
                  APP_ENV: test
              run: ./vendor/bin/phpunit --colors=always
            
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v5
              with:
                  context: .
                  target: frankenphp_prod
                  push: true
                  tags: |
                      ${{ secrets.DOCKERHUB_USERNAME }}/choppedlink-api:latest
                      ${{ secrets.DOCKERHUB_USERNAME }}/choppedlink-api:${{ github.sha }}

            - name: Deploy to the server
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.SERVER_HOST }}
                  username: ${{ secrets.SERVER_USER }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  script: /home/deploy/apps/choppedlink-deployment/update.sh "${{ github.sha }}"
